body {
    background-color: #232323;
}
.square {
    width: 30%;
    background: plum;
    padding-bottom: 30%;
    float: left;
    margin: 1.6666%;

}
.container {
    margin: 0 auto;
    max-width: 40rem;
}
h1 {
    text-align: center;
    color: blue;
}
#message {
    text-align: center;
    color:white;
}